
.header,
.main {
    background-color:#1f2937;
}
a,
.subtext {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.main-title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}
.sign-up {
    background: #3882F6;
    color: white;
    max-width: 100px;
    margin-top: 10px;
}

.simba {
    width: 300px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column; 
    max-width: 300px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 32px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 32px;
}

.info {
    max-width: 200px;
}

.third {
    background-color: #E5E7EB;
}

.inspiring {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-weight: bolder;
    text-align: end;
}

.quote {
    margin: 10px;
    padding: 80px;
}

img#churu {
    width: 100px;
    height: auto;
    border: 2px solid blue;
}

.box {
    background-color: #3882f6;
    color: white;
    width: 800px;
    padding: 40px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
}


.call {
    font-weight: bolder;
}
.sign {

}



