
.header,
.main {
    background-color:#1f2937;
}
a,
.subtext {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.main-title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}
.sign-up {
    background: #3882F6;
    color: white;
}

.simba {
    width: 300px;
    height: auto;
}

.container {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    margin-right: 160px;
}
